body {
    background-image: linear-gradient(160deg,#053222, #82511f);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

a {
    color: #169b6a;
}

body>div:first-of-type{
    display: flex;
    flex-flow: column wrap;
    border: 1px solid white;
}

body>div:first-of-type div{
    backdrop-filter: blur(5px);
    text-decoration: none;
    color: white;
    border: .25em solid white;
    padding: 1em;
    margin: 0 1em 1em;
    width: 5em;
    position: sticky;
    top: 0;
}

body>div:first-of-type>div>a{
    text-decoration: none;
    color: white;
}

body>div:first-of-type>div:hover{
    background-color: rgba(22, 155, 106, 0.15);
    border-color: black;
    color: black;
}

body>div:first-of-type>div.current{
    background-color: rgba(130, 81, 31, 0.5);
    backdrop-filter: blur(10px);
}