@use 'variables' as *;

body,
html {
  scroll-behavior: smooth;
  min-height: 100%;
  font-family: 'CommitMono', sans-serif;
  background: $gray1;
  color: $gray5;
  scroll-behavior: smooth;
}

body {
  font-size: 1.2rem;
}

#main {
  @include floating-base;

  display: flex;
  flex-direction: column;
}

nav {
  @include floating-base;

  a {
    padding: 0.75rem;
    border-radius: 12px;

    &:first-child {
      margin-left: -0.75rem;
    }

    &:hover {
      background-color: $cyan;
      color: $gray2;
      text-decoration: none;
    }
  }
}

header {
  h1 {
    color: $blue;
  }
}

a {
  color: $cyan;
  text-decoration: none;

  &:hover {
    color: $blue2;
    text-decoration: underline;
  }
}

svg.icon {
  aspect-ratio: 1/1;
  width: 0.5em;
  height: auto;
  margin: 0 auto;
  fill: $gray5;
}

.time {
  color: $gray4;
}
